{% extends 'core/base.html' %}

{% block title %}Edit task | {% endblock %}

{% block content %}
    <div id="project-app">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="{% url 'project:projects' %}">Projects</a></li>
                <li><a href="{% url 'project:project' project.id %}">{{ project.title }}</a></li>
                <li class="is-active"><a href="{% url 'project:edit_task' project.id task.id %}" aria-current="page">Edit task</a></li>
            </ul>
        </nav>

        <div class="columns">
            <div class="column">
                <h1 class="title">Edit task</h1>
            </div>
        </div>

        <div class="columns">
            <div class="column is-4">
                <form method="post" action=".">
                    {% csrf_token %}

                    <div class="field">
                        <label>Title</label>

                        <div class="control">
                            <input type="text" name="title" id="id_title" class="input" value="{{ task.title }}">
                        </div>
                    </div>

                    <div class="field">
                        <label>Status</label>

                        <div class="control">
                            <div class="select">
                                <select name="status" id="id_status">
                                    <option value="todo"{% if task.status == 'todo' %} selected{% endif %}>Todo</option>
                                    <option value="done"{% if task.status == 'done' %} selected{% endif %}>Done</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}