{% extends 'core/base.html' %}

{% load dashboardextras %}

{% block title %}Projects | {% endblock %}

{% block content %}
    <div id="projects-app">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li class="is-active"><a href="#" aria-current="page">Projects</a></li>
            </ul>
        </nav>

        <div class="columns">
            <div class="column is-4">
                <h1 class="title">Projects</h1>

                {% if team.plan.max_projects_per_team > team.projects.count %}
                    <a @click="showAddProjectModal = !showAddProjectModal" class="button is-success">Add project</a>
                {% else %}
                    <div class="notification is-warning">
                        This team has reached the limit of projects.<br>

                        {% if team.created_by == request.user %}
                            <a href="{% url 'team:plans' %}">Upgrade plan</a>
                        {% else %}
                            Contact your team owner...
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="columns">
            {% for project in projects %}
                <div class="column is-3">
                    <div class="notification">
                        <h2 class="is-size-5">{{ project.title }}</h2>
                        <p class="is-size-7">Registered time: {{ project.registered_time|format_minutes }}</p>
                        <p class="is-size-7">Tasks: {{ project.num_tasks_todo }}</p>

                        <hr>

                        <a href="{% url 'project:project' project.id %}" class="button is-success">Details</a>
                    </div>
                </div>
            {% empty %}
                <div class="column is-3">
                    <div class="notification">
                        No projects yet...
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="modal" :class="{'is-active': showAddProjectModal}">
            <div class="modal-background"></div>

            <form method="post" action="." @submit="validateForm">
                {% csrf_token %}

                <div class="modal-card">
                    <div class="modal-card-head">
                        <p class="modal-card-title">Add project</p>
                    </div>

                    <div class="modal-card-body">
                        <div class="field">
                            <label>Title</label>
                            <div class="control">
                                <input type="text" name="title" id="id_title" v-model="title" class="input">
                            </div>
                        </div>

                        <div class="notification is-danger" v-if="showError">
                            The title field is missing!
                        </div>
                    </div>

                    <footer class="modal-card-foot">
                        <button class="button is-success">Submit</button>
                        <button class="button" @click="showAddProjectModal = !showAddProjectModal">Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const ProjectsApp = {
            data() {
                return {
                    showAddProjectModal: false,
                    title: '',
                    showError: false
                }
            },
            delimiters: ['[[', ']]'],
            methods: {
                validateForm(e) {
                    if (this.title) {
                        return true
                    }

                    this.showError = true

                    e.preventDefault()

                    return false
                }
            }
        }

        Vue.createApp(ProjectsApp).mount('#projects-app')
    </script>
{% endblock %}