{% extends 'core/base.html' %}

{% block title %}{{ task.title }} | {% endblock %}

{% block content %}
    <div id="project-app">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="{% url 'project:projects' %}">Projects</a></li>
                <li><a href="{% url 'project:project' project.id %}">{{ project.title }}</a></li>
                <li class="is-active"><a href="{% url 'project:task' project.id task.id %}" aria-current="page">{{ task.title }}</a></li>
            </ul>
        </nav>

        <div class="columns">
            <div class="column">
                <h1 class="title">{{ task.title }} ({{ task.get_status_display }})</h1>

                <a href="{% url 'project:edit_task' project.id task.id %}" class="button is-warning">Edit task</a>
            
                <h2 class="subtitle mt-6">Register time</h2>

                <form method="post" action=".">
                    {% csrf_token %}

                    <div class="field is-grouped">
                        <div class="control">
                            <div class="select">
                                <select name="hours">
                                    <option value="0">0h</option>
                                    {% for i in "x"|rjust:"10" %}
                                        <option value="{{ forloop.counter }}">{{ forloop.counter }}h</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="control">
                            <div class="select">
                                <select name="minutes">
                                    <option value="0">0m</option>
                                    {% for i in "x"|rjust:"59" %}
                                        <option value="{{ forloop.counter }}">{{ forloop.counter }}m</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Date</label>

                        <div class="control">
                            <input type="date" id="id_date" name="date" class="input" value="{{ today|date:'Y-m-d' }}" placeholder="yyyy-mm-dd">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="columns">
            <div class="column is-12">
                <hr>

                <h2 class="subtitle">Logged entries</h2>

                {% if task.entries.all %}
                    <table class="table is-fullwidth" style="text-align: left;">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>User</th>
                                <th>Time</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for entry in task.entries.all %}
                                <tr>
                                    <td>{{ entry.created_at }}</td>
                                    <td>{% firstof entry.created_by.get_full_name entry.created_by.username %}</td>
                                    <td>{{ entry.minutes }}</td>
                                    <td>
                                        <a href="{% url 'project:edit_entry' project.id task.id entry.id %}">Edit</a>
                                        <a href="{% url 'project:delete_entry' project.id task.id entry.id %}">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                        <tfoot>
                            <tr>
                                <th colspan="2">Total</th>
                                <th colspan="2">{{ task.registered_time }}</th>
                            </tr>
                        </tfoot>
                    </table>
                {% else %}
                    <p>No entries yet...</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}