{% extends 'core/base.html' %}

{% load dashboardextras %}

{% block title %}Dashboard | {% endblock %}

{% block content %}
    <div class="columns is-multiline">
        <div class="column is-6">
            <div class="notification">
                <h2 class="subtitle">Your time {% if num_days is 0 %}today{% else %}{{ date_user|date:"Y-m-d" }}{% endif %}</h2>
            
                {% if date_entries %}
                    <table class="table is-fullwidth" style="text-align: left;">
                        <thead>
                            <tr>
                                <td>Task</td>
                                <td>Project</td>
                                <td>Time</td>
                            </tr>
                        </thead>

                        <tbody>
                            {% for entry in date_entries %}
                            <tr>
                                <td>{{ entry.task.title }}</td>
                                <td>{{ entry.project.title }}</td>
                                <td>{{ entry.minutes|format_minutes }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="2">Total</td>
                                <td>{{ time_for_user_and_date|format_minutes }}</td>
                            </tr>
                        </tfoot>
                    </table>
                {% else %}
                    <p class="block">No entries today...</p>
                {% endif %}

                <a href="?num_days={{ num_days|add:'1' }}" class="mt-4">Previous</a>
                {% if num_days > 0 %}
                <a href="?num_days={{ num_days|add:'-1' }}" class="mt-4">Next</a>
                {% endif %}
            </div>
        </div>

        <div class="column is-6">
            <div class="notification">
                <h2 class="subtitle">Your time {% if user_num_months is 0 %}this month{% else %}{{ user_month|date:"Y-m" }}{% endif %}</h2>
            
                {% if time_for_user_and_month %}
                    <table class="table is-fullwidth" style="text-align: left;">
                        <thead>
                            <tr>
                                <td>Project</td>
                                <td>Time</td>
                            </tr>
                        </thead>

                        <tbody>
                            {% for project in all_projects %}
                                {% if project.time_for_user_and_project_and_month > 0 %}
                                <tr>
                                    <td>{{ project.title }}</td>
                                    <td>{{ project.time_for_user_and_project_and_month|format_minutes }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>

                        <tfoot>
                            <tr>
                                <td>Total</td>
                                <td>{{ time_for_user_and_month|format_minutes }}</td>
                            </tr>
                        </tfoot>
                    </table>
                {% else %}
                    <p class="block">No entries this month...</p>
                {% endif %}

                <a href="?user_num_months={{ user_num_months|add:'1' }}" class="mt-4">Previous</a>
                {% if user_num_months > 0 %}
                <a href="?user_num_months={{ user_num_months|add:'-1' }}" class="mt-4">Next</a>
                {% endif %}
            </div>
        </div>

        <div class="column is-6">
            <div class="notification">
                <h2 class="subtitle">Your untracked entries</h2>

                <table class="table is-fullwidth" style="text-align: left;">
                    <thead>
                        <tr>
                            <th>Started</th>
                            <th>Time</th>
                            <th>Status</th>
                            <th>Add to task</th>
                            <th>Discard</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for entry in untracked_entries %}
                            <tr>
                                <td>{{ entry.created_at }}</td>
                                <td>
                                    {% if entry.minutes == 0 %}
                                        {{ entry.minutes_since|format_minutes }}
                                    {% else %}
                                        {{ entry.minutes|format_minutes }}
                                    {% endif %}
                                </td>
                                <td>{% if entry.minutes == 0 %}In progress{% else %}Untracked{% endif %}</td>
                                <td><a href="{% url 'project:track_entry' entry.id %}">Add to task</a></td>
                                <td><a href="{% url 'project:delete_untracked_entry' entry.id %}">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if request.user == team.created_by %}
            <div class="column is-6">
                <div class="notification">
                    <h2 class="subtitle">Your team {% if team_num_months is 0 %}this month{% else %}{{ team_month|date:"Y-m" }}{% endif %}</h2>
                
                    {% if time_for_team_and_month > 0 %}
                        <table class="table is-fullwidth" style="text-align: left;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Time</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for member in members %}
                                    <tr>
                                        <td><a href="{% url 'view_user' member.id %}">{% firstof member.get_full_name member.username %}</a></td>
                                        <td>{{ member.time_for_user_and_team_and_month|format_minutes }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No registred time for your team this month...</p>
                    {% endif %}

                    <a href="?team_num_months={{ team_num_months|add:'1' }}" class="mt-4">Previous</a>
                    {% if team_num_months > 0 %}
                    <a href="?team_num_months={{ team_num_months|add:'-1' }}" class="mt-4">Next</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="columns is-multiline">
        <div class="column is-12">
            <h2 class="subtitle">Newest projects</h2>
        </div>

        {% for project in projects %}
            <div class="column is-3">
                <div class="notification">
                    <h2 class="is-size-5">{{ project.title }}</h2>

                    <p class="is-size-7">Registered time: {{ project.registered_time|format_minutes }}</p>
                    <p class="is-size-7">Tasks: {{ project.num_tasks_todo }}</p>

                    <hr>

                    <a href="{% url 'project:project' project.id %}" class="button is-info">Details</a>
                </div>
            </div>
        {% empty %}
            <div class="column is-3">
                <div class="notification">
                    <p>No projects yet...</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}