{% extends 'core/base.html' %}

{% load dashboardextras %}

{% block title %}{% firstof user.get_full_name user.username %} | {% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li class="is-active"><a href="{% url 'view_user' user.id %}" aria-current="page">{% firstof user.get_full_name user.username %}</a></li>
        </ul>
    </nav>

    <div class="columns is-multiline">
        <div class="column is-12">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img src="{{ user.userprofile.get_avatar }}">
                    </figure>
                </div>

                <div class="media-content">
                    <p class="title is-3">{% firstof user.get_full_name user.username %}</p>
                    <p class="subtitle is-6">{{ user.email }}</p>
                </div>
            </div>
        </div>

        <div class="column is-6">
            <div class="notification">
                <h2 class="subtitle">{% firstof user.get_full_name user.username %}'s time {% if num_days is 0 %}today{% else %}{{ date_user|date:"Y-m-d" }}{% endif %}</h2>
            
                {% if date_entries %}
                    <table class="table is-fullwidth" style="text-align: left;">
                        <thead>
                            <tr>
                                <td>Task</td>
                                <td>Project</td>
                                <td>Time</td>
                            </tr>
                        </thead>

                        <tbody>
                            {% for entry in date_entries %}
                            <tr>
                                <td>{{ entry.task.title }}</td>
                                <td>{{ entry.project.title }}</td>
                                <td>{{ entry.minutes|format_minutes }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="2">Total</td>
                                <td>{{ time_for_user_and_date|format_minutes }}</td>
                            </tr>
                        </tfoot>
                    </table>
                {% else %}
                    <p class="block">No entries today...</p>
                {% endif %}

                <a href="?num_days={{ num_days|add:'1' }}" class="mt-4">Previous</a>
                {% if num_days > 0 %}
                <a href="?num_days={{ num_days|add:'-1' }}" class="mt-4">Next</a>
                {% endif %}
            </div>
        </div>

        <div class="column is-6">
            <div class="notification">
                <h2 class="subtitle">{% firstof user.get_full_name user.username %}'s time {% if user_num_months is 0 %}this month{% else %}{{ user_month|date:"Y-m" }}{% endif %}</h2>
            
                {% if time_for_user_and_month %}
                    <table class="table is-fullwidth" style="text-align: left;">
                        <thead>
                            <tr>
                                <td>Project</td>
                                <td>Time</td>
                            </tr>
                        </thead>

                        <tbody>
                            {% for project in all_projects %}
                                {% if project.time_for_user_and_project_and_month > 0 %}
                                <tr>
                                    <td>{{ project.title }}</td>
                                    <td>{{ project.time_for_user_and_project_and_month|format_minutes }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>

                        <tfoot>
                            <tr>
                                <td>Total</td>
                                <td>{{ time_for_user_and_month|format_minutes }}</td>
                            </tr>
                        </tfoot>
                    </table>
                {% else %}
                    <p class="block">No entries this month...</p>
                {% endif %}

                <a href="?user_num_months={{ user_num_months|add:'1' }}" class="mt-4">Previous</a>
                {% if user_num_months > 0 %}
                <a href="?user_num_months={{ user_num_months|add:'-1' }}" class="mt-4">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}