<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <title>Minutos</title>

        <style type="text/css">
            html {
                width: 100%;
            }

            body {
                width: 100%;
                font-family: Arial;
                font-size: 14px;
                background-color: #fff;
                color: #333;
            }

            a {
                color: #111;
            }
        </style>
    </head>

    <body>
        <table width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td><h1>Minutos - Invitation to {{ team.title }}</h1></td>
            </tr>

            <tr>
                <td>
                    <p>You ahve been invited to join {{ team.title }}</p>
                    <p>Click the link below to sign up or log in. Your team activation code is {{ code }}</p>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="{{ acceptation_url }}">Accept invitation</a>
                </td>
            </tr>
        </table>
    </body>
</html>